.header-text {
  text-transform: uppercase;
}
.name {
  text-transform: uppercase;
}
.content {
  text-transform: uppercase;
}
.title {
  text-transform: uppercase;
}
.actor {
  text-transform: uppercase;
}
.comment-content {
  text-transform: uppercase;
}
.username {
  text-transform: uppercase;
}
.project-description {
  text-transform: uppercase;
}
.studio-title {
  text-transform: uppercase;
}
.studio-info-section {
  text-transform: uppercase;
}
.studio-member-info {
  text-transform: uppercase;
}
.social-message-content {
  text-transform: uppercase;
}
.studio-project-bottom {
  text-transform: uppercase;
}
.box-content {
  text-transform: uppercase;
}
.box-head {
  text-transform: uppercase;
}
.profile-name {
  text-transform: uppercase;
}
.innerwrap {
  text-transform: uppercase;
}
.thumbnail-creator {
  text-transform: uppercase;
}
.thumbnail-title {
  text-transform: uppercase;
}
.lists {
  text-transform: uppercase;
}
.masthead {
  text-transform: uppercase;
}